/* Pensez à plus regrouper les élements pour eviter une répétition de code !!! */
@font-face {
    font-family: "Montserrat";
    src: url(./assets/font/Montserrat-VariableFont_wght);
}
:root {
    --color1: #090909;
    --color2: #f7f7f7;
    --color3: #2a2a2a;
    --color4: #e1e1e1;
    --color5: #8f00fd;
}
* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
body {
    font-family: "Montserrat";
    margin: 0 auto;
}
button {
    cursor: pointer;
}
/* ************************* NAV BAR ************************* */
nav {
    /* On définit une taille à la nav bar*/
    min-width: 1100px;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15%;
    height: 12vh;
    padding: 0 5px;
}
/* On aurait put faire en remplacement de la border-top : 
nav li a:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: purple;
    transform: translateY(-20px);
} */
header nav ul li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    color: var(--color1);
    padding: 20px 0;
    border-top: 4px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
header nav ul li a:hover,
header nav ul li:nth-child(1) a {
    color: var(--color5);
    border-top: 4px solid var(--color5);
}
.last {
    background: var(--color4);
    border-radius: 20px;
    padding: 8px 16px;
}
.last a:hover {
    border-top: 4px solid transparent;
}
/* ************************* BACKGROUND IMAGE ************************* */
header section {
    background: url(../assets/img/bg.jpg) fixed center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header section div h1 {
    color: var(--color2);
    text-transform: uppercase;
    margin: 30px 0 35px;
    font-size: 1.5rem;
    font-weight: 600;
}
header section div button {
    padding: 20px;
    text-transform: uppercase;
    border: 1px solid var(--color2);
    background: transparent;
    color: var(--color2);
    font-weight: bold;
    letter-spacing: 0.2em;
}
header section div button i {
    /* Deplacer > de 5 px sur l'axe des abscices !! */
    transform: translateX(5px);
}
/* ************************* MAIN ************************* */
/* ************************* DIV PARAGRAPHE ************************* */
.main_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 25vh;
    background: var(--color4);
}
.main_p p {
    color: var(--color1);
    text-align: center;
    font-weight: bold;
    margin: 0 15%;
    line-height: 35px;
    max-width: 1100px;
}
/* ************************* DIV ARTICLES  ************************* */
.main_div-container {
    background: var(--color3);
    padding: 65px 0;
}
.main_div-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    max-width: 1100px;
}
.main_div-articles article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main_div-articles article img {
    margin-bottom: 30px;
}
.main_div-articles article h3 {
    color: var(--color2);
    text-transform: uppercase;
    font-weight: 700;
}
.main_div-articles article p {
    color: var(--color2);
    width: 80%;
    margin: 10px auto 20px; /*Haut Gauche/Droite Bas*/
    text-align: center;
}
.main_div-articles article button {
    padding: 9px 32px;
    text-transform: uppercase;
    border: 1px solid var(--color2);
    background: transparent;
    color: var(--color2);
    font-weight: bold;
    letter-spacing: 0.2em;
    transition: 0.3s;
}
.main_div-articles article button:hover {
    background: var(--color2);
    color: var(--color1);
}
/* ************************* DIV LES NEWS DU CAMPUS  ************************* */
.main_section-news {
    background: var(--color4);
    height: 800px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    line-height: 30px;
}
.main_section2-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 15%; 
}
.main_section2-txt h2 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: left;
}
.main_section2-txt p {
    font-weight: bold;
    font-size: 0.9rem;
    text-align-last: left;
}
.main_section2-grid button {
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid var(--color1);
    background: transparent;
    color: var(--color1);
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 10%;
    border-radius: none;
    width: 70%;
    transition: 0.3s;
}
.main_section2-grid button i {
    transform: translateX(5px);
}
.main_section2-grid button:hover {
    color: var(--color2);
    background: var(--color1);
}
/* ************************* ARTICLES LES NEWS DU CAMPUS  ************************* */
main_section-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_article-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
}
.main_article-flex article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 470px;
    width: calc(70%/3);
}
.main_article-img img {
    box-shadow: 2px 2px 2px hsla(0, 0%, 4%, 0.392);
}
.main_article-flex article a {
    color: var(--color5);
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 100%;
    margin-top: 5px;
    align-items: left;
    padding: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}
.main_article-flex article a i {
    padding-left: 10px;
    font-size: 0.8em;;
}
/* ************************* ARTICLES INFORMATIONS PRATIQUES ************************* */
.lastsection_div-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px 10%;
    padding: 50px 0;
    gap: 40px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.flex h5 {
    font-size: 1.1em;
}
.flex h5,
.flex h6 {
    text-transform: uppercase;
    font-weight: bold;
}
.flex p {
    font-weight: bold;
    font-size: 0.9em;
}
.flex ul li a {
    color: var(--color5);
}
.lastsection_div-speakAbout {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 40px 5%;
    height: auto;
    align-items: center;
}
.lastsection_div-speakAbout div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}
.lastsection_div-speakAbout div h5 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.lastsection_div-speakAbout div p {
    font-weight: bold;
}
.lastsection_div-speakAbout ul {
    display: flex;
    justify-content: space-between;
}
.ul_li-followus {
    display: flex;
}
.pratcicalInfos li {
    margin: 10px 0;
}
#mail {
    color: var(--color1);
    text-decoration: none;
    font-size: 0.9em;
}
.ul_li-followus li a {
    padding: 10px;
    color: var(--color1);
}
/* ************************* FOOTER ************************* */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: var(--color1);
    color: var(--color2);
}
footer h4 {
    font-size: 1.3em;
}
footer ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ************************* MEDIA QUERIES ************************* */
@media screen and (max-width: 915px) {
    nav {
        display: none;
    }
    .main_div-container {
        height: 1200px;
    }
    .main_div-articles {
        flex-direction: column;
    }
    .main_section-news {
        padding: 5% 0;
    }
    .main_section2-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_section2-txt {
        text-align-last: center;
    }
    .main_section2-grid button {
        width: 40%;
        margin: 5%;
    }
    .main_section-news {
        height: auto;
    }
    .main_article-flex {
        flex-direction: column;
    }
    .main_article-flex article {
        width: 100%;
        margin: 5% 5px;
    }
    .lastsection {
        display: none;
    }
    footer ul {
        flex-wrap: wrap;
    }
}